:export {
  $focus: #549bf5;
  $white: #ffffff;
  $green-primary: #347d39;
  $green-secondary: #46874c;

  $dark-primary-color: #22272e;
  $dark-font-primary-color: #acbac7;
  $dark-secondary-color: #1c2128;
  $dark-border-color: #454c56;
  $dark-border-style: 1px solid $dark-border-color;

  $light-primary-color: #fff;
  $light-secondary-color: #f6f8fa;
  $light-font-primary-color: #1f2329;
  $light-border-color: #d8dee4;
  $light-border-style: 1px solid $light-border-color;
}
